<!DOCTYPE html>
<html>
<head>
    <title>Retroideal</title>        
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="login-component">
            <h1>Login</h1>
            <form class="login-form" action="/login" method="POST">
                <input type="text" placeholder="Username" class="login-input" name="username"><br>
                <input type="password" placeholder="Password" class="login-input" name="password"><br>
                <button type="submit" class="login-button">Login</button>
            </form>         
        </div>
    </div>

    <footer>
        <hr>
        <h1>User Details</h1>
        <table border="1">
            <tr>
                <th>Email</th>
                <th>Phone</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.address }}</td>
            </tr>
            {% endfor %}
        </table>
    </footer>

    <!-- Added register button -->
    <a href="/register" class="register-button">Register</a>
</body>
</html>
